
/* page one */

.body{position: relative;
    background-image: URL(./four.webp);
    background-size: 100%;
    background-repeat: no-repeat;


}
.enter-store{
   position: relative;
   left: 8em;
   top: 1em;
   font-size: 2em;
   font-weight: bolder;
   text-align: center;
   color: black;
   z-index: 100;
   animation-name: storeBackground;
   animation-duration: 4s;
   display: inline-block;
   animation-iteration-count: infinite;
   animation-duration: 4s;
   border-radius: 10em;
}


.enter-store-div{
    position: absolute;
    top:11em;
    left: 23em;

}
/* background color should change for 50% of the time */
/* at 2s, the animation will complete and start going back to normal and complete at 4s */
@keyframes storeBackground {
    50% {background-color: goldenrod;
        color: rgb(110, 110, 110);};
    } 

  
.enter-store:hover{
background-color: goldenrod;

    border-radius: 2em;

}
.enter-image{
    width: 25em;
    border-radius: 13em;
    opacity: 0.5;
}

.company-name{
    position:absolute;
    top: 1em;
    left: 6.3em;
    font-size: 4em;
    font-weight: bold;
    border: none;
    color: rgb(110, 110, 110);
z-index: 10;
    padding-left: 1em;
    border-radius: 0.3em;


}

.company-name:hover{
color:black;
}
.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover{
color:black;
}

.karoDescription{
    position:absolute;
    top: 4em;
    left: 54em;
}

.Karo-child{
    font-size: 1.5em;
    font-weight: bold;
    font-style: oblique;
    color: rgb(110, 110, 110);
}


/* page one mobile */
@media(max-width:600px){
    .body{
        background-color: rgb(255, 195, 44);

}

   
.enter-store-div{
    position: absolute;
    top:2em;
    left: -5em;
}

.karoDescription{
    width: 1em;
    position:absolute;
    top: 9em;
    left: 0em;
}

.company-name{
    position:absolute;
    top: 0.5em;
    left: 1.9em;
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.enter-image{
    display: none;
}

.Karo-child>p{
    color: black;
    
}
}



/* page two */
.individualContent{
    border: solid;
    overflow-y: scroll;
}


.content{
    background-color:goldenrod;
    display: inline;
}
.imageDiv{
    height: 70%
}

.textDiv{
    color: white;
    font-weight: bold;
}

.inputBar{
background-color: brown;
display: block;
}
